:root {
  --card-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.6);
}

body {
  font-family: 'Poppins', sans-serif;
}

label,
textarea,
select {
  display: flex;
}

button {
  background-color: #f2f2f0;
  color: #0075a1;
  border: none;
  border-radius: 10px;
  /* box-shadow: 0px 0px 2px 2px rgb(0, 0, 0); */
  padding: 10px 20px;
  margin: 10px;
  box-shadow: var(--card-shadow);
}

#entries {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box {
  width: 200px;
  background-color: #f2f2f0;
  color: #0075a1;
  margin: 10px;
  border: 1px solid #0075a1;
  border-radius: 2%;
  padding: 10px 20px;
  box-shadow: var(--card-shadow);
}
.box:hover {
  transform: scale(1.05);
  animation: color-change 2s infinite;
}

fieldset {
  background-color: #f2f2f0;
  color: #0075a1;
  border: 1px solid #0075a1;
  border-radius: 2%;
  /* box-shadow: 0px 0px 2px 2px rgb(0, 0, 0); */
  padding: 10px 20px;
  margin: 10px;
  box-shadow: var(--card-shadow);
}
